[Desktop Entry]
Type=Application
Name=Obsidian Mods Manager
GenericName=Mod Manager
Comment=Install and manage Minecraft Dungeons II mods
Exec=obsidian-mods-manager %u
Icon=obsidian-mods-manager
Terminal=false
Categories=Game;Utility;
MimeType=x-scheme-handler/obsidianmods;
StartupNotify=true
